<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="jquery-1.10.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="jquery.hotkeys.js"></script>
  <script src="jquery.scrollto.js"></script>
  <script>
    function scrollDownAnElement (elem) {
      scrollTop = $(window).scrollTop();
      elem.each(function(i, lookup){ // loop through all lookup elements
        lookup_top = $(lookup).offset().top; // get their top position
        if (scrollTop < lookup_top-1) { // compare if document is below (plus 1 px for not jumping to the same position twice!)
          $.scrollTo(lookup_top, 142); // scroll to in 0.142 of a second
          return false;
        }
      });
    }
    function scrollUpAnElement (elem) {
      scrollTop = $(window).scrollTop();
      $(elem.get().reverse()).each(function(i, lookup){ // loop through all lookup elements
        lookup_top = $(lookup).offset().top; // get their top position
        if (scrollTop > lookup_top+1) { // compare if document is below (plus 1 px for not jumping to the same position twice!)
          $.scrollTo(lookup_top, 142); // scroll to in 0.142 of a second
          return false;
        }
      });
    }
  
   $(document).ready(function(){ 
      jQuery('body').bind('keypress', 'j', function () {scrollDownAnElement($('.lookup'))});
      jQuery('body').bind('keypress', 'k', function () {scrollUpAnElement($('.lookup'))});
    });
  </script>

  <title>Easy market lookup - <%= @lookups.collect {|l| l.itemname}.join(" , ") %></title>
</head>
<body>
    <div id="header" class="row-fluid">
         <div class="span4">
                <form id="form">
                    <b>paste me:</b>
                    <textarea name="paste" style="width: 342px; height: 42px;" rows="5"></textarea>
                    <input name="submit" type="submit" value="look up!">
                </form>
            </div>
        <div class="span4">
            <% if env["HTTP_EVE_TRUSTED"] and env["HTTP_EVE_TRUSTED"] == "No" %>
                <button type="button" onclick="CCPEVE.requestTrust('<%= request.url %>');">Request Trust</button>
            <% end %>
            
        </div>
        <div class="span4" style="margin-top: 25px;">
            <span class="label label-info">Protip: use j and k keys to navigate like a boss!</span>
        </div>
    </div>
    <% @lookups.each do |lookup| %>
    
        <div class="row-fluid lookup">
            <div class="span4">
                <span id="image">
                    <img id="icon" src="http://image.eveonline.com/Type/<%= lookup.typeId.to_s %>_64.png" onclick="CCPEVE.showInfo(<%= lookup.typeId.to_s %>)">
                    <b><%= lookup.itemname %></b>
                    <i class="icon-shopping-cart icon-2" style="margin-left: 25px;" onclick="CCPEVE.showMarketDetails(<%= lookup.typeId.to_s %>)"></i>
                </span>
            </div>    
        </div>
        
        <div class="row-fluid">
          
            <% gs = Market.greatest_split_percent(lookup.stations.values,1)
            
               lookup.stations.each_with_index do |(station_id,market),index|

                   market_left = lookup.stations[lookup.stations.keys[index-1]]
                   market_right = lookup.stations[lookup.stations.keys[(index+1 >= lookup.stations.keys.size ? 0 : index+1)]]             
            %>
            <div class="span4">
                <table class="table table-condensed table-hover">
                  <caption> <%= market.station.station_name.split(" - ")[0] %></caption>
                  <thead>
                  <th></th>
                  <th>Volume</th>
                  <th>Price</th>
                  <th></th>
                  </thead>
                  <% market.sells[0..5].each do |order| %>
                      <tr>
                        <%= "<td></td><td>#{order.vol_remain}</td><td>#{order.price.format}</td><td></td>" %>
                      </tr>
                  <% end %>
                  <tr> <td><td></td></td><td></td><td></td></tr>
                  <tr>
                    <td style="<%= style_for_split(market.remote_split_percent(market_left,1),5.0,gs)%>">
                        <i class="icon-resize-full icon-rotate-90"> </i><%= "#{market.remote_split_percent(market_left,1)}%" %> 
                    </td>
                    <td style="font-size: 90%;">avg. vol.</td>
                    <td style="<%= style_for_split(market.split_percent(1),5.0,gs)%>"><%= "#{market.split_percent(1)}%" %></td>
                    <td style="<%= style_for_split(market.remote_split_percent(market_right,1),5.0,gs) %>">
                        <%= "#{market.remote_split_percent(market_right,1)}%" %> <i class="icon-resize-full"></i>
                    </td>
                  </tr>
                  <tr> <td></td><td></td><td></td><td></td></tr>
                  <% market.buys[0..5].each do |order| %>
                        <tr>
                          <%= "<td></td><td>#{order.vol_remain}</td><td>#{order.price.format}</td><td></td>" %>
                        </tr>
                  <% end %>
                  <tr>
                    <td></td>
                    <td><a href="http://eve-marketdata.com/price_check.php?step=Show&type_id=<%=lookup.typeId.to_s%>&region_id=10000002&solarsystem_id=&type=historytext" ><i class="icon-time"></i> history</a></td>
                    <td><a href="https://eve-central.com/home/quicklook.html?typeid=<%=lookup.typeId.to_s%>"><i class="icon-search"></i> EC</a></td>
                    <td></td>
                  </tr>
                </table>
              </div>

            <% end # of station iterator %>
         </div>   
         <br>
    <% end # of @lookups iteration %>

</body>

</html>